*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/QRInvWEB/overlays/

/standard request.xml
QRInvCore/target/
QRInvMODEL/target/
QRInvREST/target/
QRInvWEB/lib/
QRInvWEB/target/
out/
standard request.xml
